<%= form_with(model: dependente, local: true) do |form| %>
  <% if dependente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dependente.errors.count, "error") %> prohibited this dependente from being saved:</h2>

      <ul>
      <% dependente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cpf_func %>
    <%= form.text_field :cpf_func, id: :dependente_cpf_func %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :dependente_nome %>
  </div>

  <div class="field">
    <%= form.label :relacao %>
    <%= form.text_field :relacao, id: :dependente_relacao %>
  </div>

  <div class="field">
    <%= form.label :datanasc %>
    <%= form.date_select :datanasc, id: :dependente_datanasc %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo, id: :dependente_sexo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
