<p id="notice"><%= notice %></p>

<h1>Garcomdiastrabalhos</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Diastrabalho</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garcomdiastrabalhos.each do |garcomdiastrabalho| %>
      <tr>
        <td><%= garcomdiastrabalho.cpf %></td>
        <td><%= garcomdiastrabalho.diastrabalho %></td>
        <td><%= link_to 'Show', garcomdiastrabalho %></td>
        <td><%= link_to 'Edit', edit_garcomdiastrabalho_path(garcomdiastrabalho) %></td>
        <td><%= link_to 'Destroy', garcomdiastrabalho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garcomdiastrabalho', new_garcomdiastrabalho_path %>
