<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @garcomdiastrabalho.cpf %>
</p>

<p>
  <strong>Diastrabalho:</strong>
  <%= @garcomdiastrabalho.diastrabalho %>
</p>

<%= link_to 'Edit', edit_garcomdiastrabalho_path(@garcomdiastrabalho) %> |
<%= link_to 'Back', garcomdiastrabalhos_path %>
