<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf adm:</strong>
  <%= @temakerium.cpf_adm %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @temakerium.nome %>
</p>

<p>
  <strong>Faturamento:</strong>
  <%= @temakerium.faturamento %>
</p>

<p>
  <strong>Despesas:</strong>
  <%= @temakerium.despesas %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @temakerium.numero %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @temakerium.cep %>
</p>

<p>
  <strong>Cnpj matriz:</strong>
  <%= @temakerium.cnpj_matriz %>
</p>

<%= link_to 'Edit', edit_temakerium_path(@temakerium) %> |
<%= link_to 'Back', temakeria_path %>
