<p id="notice"><%= notice %></p>

<p>
  <strong>Codcardapio:</strong>
  <%= @apresentum.codcardapio %>
</p>

<p>
  <strong>Codigomesa:</strong>
  <%= @apresentum.codigomesa %>
</p>

<p>
  <strong>Horarioentrada:</strong>
  <%= @apresentum.horarioentrada %>
</p>

<p>
  <strong>Codpromocao:</strong>
  <%= @apresentum.codpromocao %>
</p>

<%= link_to 'Edit', edit_apresentum_path(@apresentum) %> |
<%= link_to 'Back', apresenta_path %>
