<p id="notice"><%= notice %></p>

<h1>Telfornecedors</h1>

<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telfornecedors.each do |telfornecedor| %>
      <tr>
        <td><%= telfornecedor.cnpj %></td>
        <td><%= telfornecedor.telefone %></td>
        <td><%= link_to 'Show', telfornecedor %></td>
        <td><%= link_to 'Edit', edit_telfornecedor_path(telfornecedor) %></td>
        <td><%= link_to 'Destroy', telfornecedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telfornecedor', new_telfornecedor_path %>
