<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @promocao.descricao %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @promocao.desconto %>
</p>

<%= link_to 'Edit', edit_promocao_path(@promocao) %> |
<%= link_to 'Back', promocaos_path %>
