<p id="notice"><%= notice %></p>

<p>
  <strong>Codcardapio:</strong>
  <%= @mesacompracardapio.codcardapio %>
</p>

<p>
  <strong>Codigomesa:</strong>
  <%= @mesacompracardapio.codigomesa %>
</p>

<p>
  <strong>Horarioentrada:</strong>
  <%= @mesacompracardapio.horarioentrada %>
</p>

<p>
  <strong>Qtd:</strong>
  <%= @mesacompracardapio.qtd %>
</p>

<%= link_to 'Edit', edit_mesacompracardapio_path(@mesacompracardapio) %> |
<%= link_to 'Back', mesacompracardapios_path %>
