<p id="notice"><%= notice %></p>

<h1>Temakeriacompraprodutos</h1>

<table>
  <thead>
    <tr>
      <th>Cnpj temakeria</th>
      <th>Cnpj fornecedor</th>
      <th>Codbarras</th>
      <th>Data</th>
      <th>Preco</th>
      <th>Qtd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temakeriacompraprodutos.each do |temakeriacompraproduto| %>
      <tr>
        <td><%= temakeriacompraproduto.cnpj_temakeria %></td>
        <td><%= temakeriacompraproduto.cnpj_fornecedor %></td>
        <td><%= temakeriacompraproduto.codbarras %></td>
        <td><%= temakeriacompraproduto.data %></td>
        <td><%= temakeriacompraproduto.preco %></td>
        <td><%= temakeriacompraproduto.qtd %></td>
        <td><%= link_to 'Show', temakeriacompraproduto %></td>
        <td><%= link_to 'Edit', edit_temakeriacompraproduto_path(temakeriacompraproduto) %></td>
        <td><%= link_to 'Destroy', temakeriacompraproduto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temakeriacompraproduto', new_temakeriacompraproduto_path %>
