<p id="notice"><%= notice %></p>

<p>
  <strong>Codbarras:</strong>
  <%= @compo.codbarras %>
</p>

<p>
  <strong>Codcardapio:</strong>
  <%= @compo.codcardapio %>
</p>

<%= link_to 'Edit', edit_compo_path(@compo) %> |
<%= link_to 'Back', compoes_path %>
