<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf func:</strong>
  <%= @depende.cpf_func %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @depende.nome %>
</p>

<p>
  <strong>Relacao:</strong>
  <%= @depende.relacao %>
</p>

<p>
  <strong>Datanasc:</strong>
  <%= @depende.datanasc %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @depende.sexo %>
</p>

<%= link_to 'Edit', edit_depende_path(@depende) %> |
<%= link_to 'Back', dependes_path %>
