<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @telfuncionario.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @telfuncionario.telefone %>
</p>

<%= link_to 'Edit', edit_telfuncionario_path(@telfuncionario) %> |
<%= link_to 'Back', telfuncionarios_path %>
